<html>
    <style>
        .message-content {
            font-family: Arial, Helvetica, sans-serif;
            max-width:600px;
            font-size: 16px;
            line-height: 21px;
        }
    </style>

    <div class="message-content">
        <p>Olá {{name}}</p>
        <p>Uma <strong>troca de senha</strong> foi solicitada para a sua conta </p>
        <p>Para escolher uma nova senha clique no link abaixo</p>
        <p>
            <a href="{{link}}">Resetar minha senha</a>
        </p>
        <p>Se você não solicitou esta troca desconsidere este e-mail que nada mudará</p>
        <p>
            Atenciosamente
            <br/>
            <strong>Equipe GoBarber</strong>
        </p>
    </div>
</html>
